# Не копируем виртуальное окружение
djvenv/

# Не копируем зависимости Node.js
node_modules/

# Не копируем скомпилированные файлы React
dist/

# Не копируем базу данных (если она у тебя локальная)
db.sqlite3